:root {
    --light-gray: rgba(229, 229, 229, 1);
    --default-gray: rgba(204, 204, 204, 1);
    --dark-gray: rgba(72, 82, 94, 1);
    --gray: rgba(39, 51, 67, 1);
    --white: rgba(255, 255, 255, 1);
    --ligth-white: rgba(250, 250, 250, 1);
    --orange: rgba(254, 121, 61, 1);
    --blue: rgba(99, 156, 255, 1);
    --very-light-blue: rgb(222, 233, 234);
    --light-blue: rgb(235, 242, 255);
    --dark-blue: rgba(16, 39, 82, 1);
    --red: rgba(251, 76, 31, 1);
    --green: rgba(27, 215, 65, 1);
    --cyan: rgba(21, 172, 229, 1);
    --shadow: rgba(0, 0, 0, 0.07);
}