.details,
.details_v2,
.details_v3 {
    display: grid;
    margin-top: 48px;
    gap: 20px;

    &__item {
        position: relative;
        padding: 20px;
        border: 1px solid var(--light-gray);
        box-sizing: border-box;
        border-radius: 8px;

        &:before {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            top: -10px;
            right: -10px;
            border-radius: 50%;
            box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
            background-color: var(--white);
            background-image: url("/src/images/details/success.svg");
            background-position: center;
            background-repeat: no-repeat;
        }

        &-title {
            color: var(--dark-blue);
            font-weight: 700;
            margin-bottom: 10px;
        }

        &-text {
            font-family: "Fira Sans", sans-serif;
            color: var(--dark-gray)
        }
    }

    &-forms {
        position: relative;
        padding: 28px 32px;
        border: 1px solid var(--light-gray);
        box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 8px;
        grid-area: a;

        &:before {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            top: -10px;
            right: -10px;
            border-radius: 50%;
            box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
            background-color: var(--white);
            background-image: url("/src/images/forms-blocks/headphones.svg");
            background-position: center;
            background-repeat: no-repeat;
        }

        &__title {
            color: var(--orange);
            line-height: 20px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 24px;
        }

        &__items {
            display: flex;
            gap: 0 20px;

            &-item {
                flex: 1 1 0;
            }
        }

        &__items_v3 {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 16px;

            &-item {
                flex: 1 1 100%;
            }
        }

        &__btn {
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
        }

        &__text {
            font-size: 12px;
            font-family: "Fira Sans", sans-serif;
            text-align: center;
            color: var(--dark-gray)
        }
    }
}

.details {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . . ." ". . a a";
}

.details_v2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . ." ". a a";
}

.details_v3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . ." ". . a";
}

.details_v4 {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;

    &__left {
        align-self: center;
        flex: 1 1 33.333%;

        &-img {

            img {
                width: 100%;
                height: auto;
                border-radius: 125px 12px 125px 125px;
            }
        }
    }

    &__right {
        flex: 66.666%;

        &:nth-child(5) {
            margin-bottom: 0;
        }
        
        &-img {
            display: none;
            justify-content: center;
            margin-bottom: 20px;
            
            img {
                width: 50%;
            }
        }

        &-title {
            font-weight: 700;
            color: var(--dark-blue);
            margin-bottom: 8px;
        }

        &-text {
            color: var(--dark-blue);
            margin-bottom: 16px;
        }

        &-list {

            ul {
                list-style: none;

                li {
                    position: relative;
                    padding: 4px 0 4px 32px;
                    color: var(--dark-blue);

                    &:before {
                        content: "";
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        border-radius: 50%;
                        background-image: url("/src/images/details/success.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 16px;
                    }

                }
            }
        }
    }

    &__form {
        display: flex;

        &-wrap {
            display: flex;
            align-items: end;
        }

        &-item {
            display: flex;
            align-items: end;

            &:nth-child(1) {
                flex: 1 1 70%;
            }

            &:nth-child(2) {
                flex: 1 1 30%;
            }

            &-btn {
                align-self: end;
                width: 100%;
            }

            &-text {
                display: flex;
                align-items: end;
                font-size: 10px;
                font-family: "Fira Sans", sans-serif;
                color: var(--dark-gray);
                line-height: 16px;
            }

        }
    }
}