.payment {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    &__item {
        flex: 1 1 50%;

        &-text {
            margin-top: 40px;
            font-size: 18px;
            color: var(--dark-gray);

            span {
                margin-bottom: 24px;
                display: block;
            }
        }

        &-title {
            font-weight: 700;
            font-family: 'Ubuntu', sans-serif;
            color: var(--dark-blue);
            margin-bottom: 16px;
        }

        &-wrap {
            display: flex;
            gap: 32px;

            &-img {
                flex: 33.333%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                box-shadow: 0 13px 19px var(--shadow);
                background: var(--ligth-white);
                border-radius: 8px;
            }
        }
    }
}