.warranty {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    &__item {
        flex: 1 1 30%;
        position: relative;
        padding: 24px 72px 24px 24px;
        background: var(--white);
        box-shadow: 0 13px 19px var(--shadow);
        border-radius: 8px;
        font-family: 'Ubuntu', sans-serif;
        color: var(--dark-blue);
        display: flex;
        align-items: center;
        height: 100px;

        &:after {
            content: "";
            position: absolute;
            width: 48px;
            height: 48px;
            top: 50%;
            right: 16px;
            border-radius: 8px;
            background-color: var(--blue);
            background-position: center;
            background-repeat: no-repeat;
            margin-top: -24px;
        }

        &:nth-child(1) {
            &:after {
                background-image: url("/src/images/warranty/img01.svg");
            }
        }

        &:nth-child(2) {
            &:after {
                background-image: url("/src/images/warranty/img02.svg");
            }
        }

        &:nth-child(3) {
            &:after {
                background-image: url("/src/images/warranty/img03.svg");
            }
        }

        &:nth-child(4) {
            &:after {
                background-image: url("/src/images/warranty/img04.svg");
            }
        }

        &:nth-child(5) {
            &:after {
                background-image: url("/src/images/warranty/img05.svg");
            }
        }

        &-last {
            flex: 1 1 30%;
            text-align: center;

            &-title {
                color: var(--dark-blue);
                font: 20px/24px 'Ubuntu', sans-serif;
                margin-bottom: 12px;
                font-weight: 700;
            }

            &-text {
                color: var(--dark-gray);
                margin-bottom: 8px;
            }

            &-contact {
                a {
                    color: var(--red);
                    font-weight: 700;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        top: 50%;
                        left: -28px;
                        transform: translateY(-50%);
                        background: url("/src/images/warranty/img06.svg") no-repeat center center;
                    }
                }
            }
        }
    }
}